@import url("https://fonts.googleapis.com/css2?family=Vollkorn&display=swap");
:root {
  --font-family: "Vollkorn", serif;
  --gradient-background: radial-gradient(
    circle,
    rgba(33, 0, 133, 1) 0%,
    rgba(10, 2, 17, 1) 100%
  );
  --text-color: #fff;
  --gradient-text: linear-gradient(to right, #121fcf 0%, #cf1512 100%);
  --color-bg: rgb(255, 255, 255);
}
