@import url("https://fonts.googleapis.com/css2?family=Vollkorn&display=swap");
:root {
  --font-family: "Vollkorn", serif;
  --gradient-background: radial-gradient(
    circle,
    rgba(33, 0, 133, 1) 0%,
    rgba(10, 2, 17, 1) 100%
  );
  --text-color: #fff;
  --gradient-text: linear-gradient(to bottom right, #cfcfcf 0%, #cf0404 100%);
  --color-bg: #0c081b;
}
